# Dependencias
node_modules

# Build
dist
dist-ssr

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Entorno (nunca subir secretos)
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Vercel
.vercel
